.bottomNav, .imageForm, .picRow, .x-align, .footerTop, .footerDown{
  display: flex;
  justify-content: space-between;
}

.gray{
  background-color: gray;
}
/*Style the nav bar*/

nav>.topNav>ul>li{
  display: inline;
  padding-right: 80px;
}
.topNav{
  margin-left: 700px;
  height: 80px;
  padding-top: 40px;
}

.bottomNav{
  border-top: solid gray 1px;
  padding-left: 100px;
  padding-right: 100px;
}

#work{
  width: 150px;
  height: 40px;
  border-top-right-radius: 10px;
  background-color: #FFAC12;
  color: black;
  border: 0px;
}

.image{
  height: 500px;
  width: 65%;
  object-fit: contain;
  background-color: black;
}

.property{
  width: 62%;
  height: 100%;
  padding-left: 300px;
}
.imageForm{
  margin-top: 50px;
}
.form{
  background-color: #FFAC12;
  width: 500px;
}
.picRow{
  width: 40%;
  object-fit: contain;
  padding-left: 300px;
  margin-top: 20px;
  margin-bottom: 20px;
}
#row{
  width: 10%;
}