.container{
  background-image: url(../images/moving\ 1.png);
  height: 900px;
  background-size: 100%;
}

.navbar{
  display: flex;
  justify-content: space-around;
  color: white;
  list-style-type: none;
  padding-top: 120px;
  padding-left: 600px;
  padding-right: 200px;
  border-bottom: color white solid 3px;
}

#login1{
  background-color:  #FFAC12;
  width: 70px;
  border: 0px  #FFAC12;
}

#login2{
  color: #FFAC12;
  background-color: black;
  border: 0px black;
}

#line{
  border-bottom: solid rgba(19, 13, 13, 0.849) 5px;
  height: 40px;
  margin-left: 50px;
  margin-right: 1300px;
}

.change{
  height: 200px;
  margin-top: 70px;
  font-size: 50px;
  padding-left: 150px;
}


.oneroof{
  padding-left: 150px;
  margin-top: 80px;
